<a href="https://colab.research.google.com/github/Pneva-NV/Home-Work/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задача 1
Оформляйте ноутбук, используя эти советы:
- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как
```
код
```

##Задача 2

На складе лежат разные фрукты в разном количестве.
Написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

```
total_fruits(banana=5, mango=7, apple=8)
20
```

In [41]:
def sum_fruits(**kwargs):
    all_fruits = sum(kwargs.values())
    return all_fruits

In [43]:
sum_fruits(apple=5, avocago=9, kiwi=12, melon=2)

28

##Задача 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
```
[100, 125, -90, 345, 655, -1, 0, 200]
```
Используйте list comprehensions

In [88]:
list=[100, 125, -90, 345, 655, -1, 0, 200]

positive_num=[i for i in list if i > 0]

In [89]:
positive_num

[100, 125, 345, 655, 200]

In [90]:
sum_list=sum(positive_num)

In [94]:
print(f'Суммарные затраты на рекламу составят: {sum_list}')

Суммарные затраты на рекламу составят: 1425

##Задача 4
Даны два списка. <br>Дата покупки
```
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
```
Суммы покупок по датам
```
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
```

###Подзадача 4.1
Найдите, какая выручка у компании в ноябре.
<br>Используйте list comprehensions

In [75]:
date=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
      '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
      '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
      '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
      '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
      '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

revenue=[1270, 8413, 9028, 3703, 5739, 
         4095, 295, 4944, 5723, 3701, 
         4471, 651, 7037, 4274, 6275, 
         4988, 6930, 2971, 6592, 2004, 
         2822, 519, 3406, 2732, 5015, 
         2008, 316, 6333, 5700, 2887]

In [107]:
november_prpfit=[revenue[i] for i in range(0, len(date)) if '-11-' in date[i]]

In [108]:
november_prpfit

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [109]:
profit=sum([revenue[i] for i in range(len(date)) if '-11-' in date[i]])

In [110]:
print(f'Выручка за ноябрь: {profit}')

Выручка за ноябрь: 25098

###Подзадача 4.2
Найдите выручку компании в зависимости от месяца.
<br>Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, <br>где ключи - это месяцы, а значения - это выручка.
<br>Используйте аннотирование типов.

In [116]:
def dict_profit(date: list, revenue: list) -> dict:
    mounth_profit = {}
    for i in range(len(date)):
        if date[i].split('-')[1] in mounth_profit.keys():
           mounth_profit[date[i].split('-')[1]] += revenue[i]
        else:
            mounth_profit[date[i].split('-')[1]] = revenue[i] 
    return mounth_profit

In [117]:
dict_profit(date, revenue)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}