<a href="https://colab.research.google.com/github/Pneva-NV/Home-Work/blob/main/%D0%A1%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%802.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_data= '/content/laptop_price.csv'

In [3]:
df=pd.read_csv(file_data, encoding='ISO-8859-1')
df

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

## Вывести первые 5 строк таблицы.

In [4]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

## Показать типы данных.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   object
 1   Company           1295 non-null   object
 2   Product           1295 non-null   object
 3   TypeName          1295 non-null   object
 4   Inches            1295 non-null   float64
 5   ScreenResolution  1295 non-null   object
 6   Cpu               1295 non-null   object
 7   Ram               1295 non-null   object
 8   Memory            1295 non-null   object
 9   Gpu               1295 non-null   object
 10  OpSys             1295 non-null   object
 11  Weight            1295 non-null   object
 12  Price_euros       1295 non-null   float64
dtypes: float64(2), object(11)
memory usage: 132.5+ KB

##Посчитать основные статистики по всем признакам.

In [6]:
df.describe(include=('object', 'float64'))

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
count,1303,1295,1295,1295,1295.000000,1295,1295,1295,1295,1295,1295,1295,1295.000000
unique,1303,19,615,6,NaN,39,113,9,38,109,9,176,NaN
top,1,Dell,XPS 13,Notebook,NaN,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg,NaN
freq,1,297,30,725,NaN,505,190,613,411,281,1070,121,NaN
mean,NaN,NaN,NaN,NaN,15.030270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1124.317266
std,NaN,NaN,NaN,NaN,1.415632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,700.193254
min,NaN,NaN,NaN,NaN,10.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174.000000
25%,NaN,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,599.000000
50%,NaN,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,977.000000
75%,NaN,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489.495000
max,NaN,NaN,NaN,NaN,18.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6099.000000

##Ноутбуков от какой компании больше всего в наборе данных?

In [7]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         15
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Google         3
Fujitsu        3
LG             3
Huawei         2
Chuwi          1
Name: Company, dtype: int64

In [58]:
df['Company'].value_counts() == df['Company'].value_counts().max()

Dell          True
Lenovo        True
HP           False
Asus         False
Acer         False
MSI          False
Toshiba      False
Apple        False
Samsung      False
Razer        False
Mediacom     False
Microsoft    False
Xiaomi       False
Vero         False
Google       False
Fujitsu      False
LG           False
Huawei       False
Chuwi        False
Name: Company, dtype: bool

In [59]:
df2 = df['Company'].value_counts()

In [60]:

df2[df2 == df2.max()]

Dell      297
Lenovo    297
Name: Company, dtype: int64

## Какая минимальная и максимальная стоимость у ноутбуков в данных?

In [8]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

## Какой самый дорогой ноутбук в данных?
- Выведите все характеристики только по этому ноутбуку.
- Если таких ноутбуков несколько, то вывидите их все.

In [9]:
df.sort_values('Price_euros', ascending=False).iloc[0]

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

## Найдите ноутбуки с самой маленькой диагональю в данных.
Выведите только следующие характеристики:
- Компания.
- Тип ноутбука.
- Диагональ.
- Стоимость.
Если таких ноутбуков несколько, то вывидите их все.

In [10]:
df[df['Inches']==df['Inches'].min()][['Company','TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

## Сколько стоит самый дорогой ноутбук в компании HP?

In [11]:
df[df['Company']=='HP'].Price_euros.max()

4389.0

## Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков.

In [12]:
ultra_value = df[df['TypeName'] == 'Ultrabook'].shape[0]
ultra8GB_value = df[
    (df['TypeName'] == 'Ultrabook') &
    (df['Ram'] == '8GB')
    ].shape[0]

In [13]:
(ultra8GB_value / ultra_value) * 100

70.52631578947368

## Выберите ноутбук клиенту.
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в стоимости до 500 евро, сколько у него вариантов?

In [21]:
df[
    (df['Ram'].isin(('8GB','16GB'))) &
    (df['OpSys'] == 'Windows10') &
    (df['Price_euros'] <= 500)
].shape[1]

13

## Выберите ноутбук клиенту.
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX 1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли подобные ноутбуки?

In [31]:
client_choice = df[
    (df['Company'] == 'MSI') &
   (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    ~(df['Inches'] == 15.6)
]

In [32]:
client_choice['Price_euros'].min(), client_choice['Price_euros'].max()

(1199.0, 1599.0)

## Что дешевле?
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel Core i7 7600U 2.8GHz?

In [39]:
note_1 = df[
    df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz'
].Price_euros.mean()

In [40]:
note_2 = df[
    df['Cpu'] == 'Intel Core i7 7600U 2.8GHz'
].Price_euros.mean()

In [41]:
note_1, note_2

(1760.4084246575342, 1915.710769230769)

## Найдите самый легкий ноутбук.
Но обратите внимание на тип и представление данных в признаке Weight, если что, замените в строке 'kg' на пустую строку через метод .str.replace().

In [52]:
df['Weight'] = df['Weight'].str.replace('kg','')

In [54]:
df['Weight'] = weight_notebooks.astype('float64')

In [55]:
df['Weight'].min()

0.69

In [56]:
df[
    (df['Weight'] == df['Weight'].min())
]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
50,51,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69,319.00
1082,1097,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69,646.27
1114,1129,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69,549.00
1126,1141,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69,479.00